
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#notifications.has-notifications {
  color: #bf5329;
}

.follow {
  display: inline-block;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: 75px 75px;
  grid-template-areas: "avatar nickname posts" "avatar follow comments-profile";
}

.avatar { grid-area: avatar; }

.nickname { grid-area: nickname; justify-content: flex-start; align-self: flex-end}

.follow { grid-area: follow; justify-content: flex-start; align-self: flex-start}

.posts { grid-area: posts; justify-content: flex-start; align-self: flex-end}

.user-info .grid-container .avatar{
  display: inline-block;
  max-width: 150px;
  max-height: 150px;
}

.all {
  margin: 20px 0 0 0;
}

.actions {
  text-align: right;
}

.actions button {
  margin: 1px;
  min-width: 45px;
}

#none-display {
  display:none;
}

strong a {
  margin: 0 2px;
}

strong.text a {
  cursor:pointer;
}